<div class="page">
  <div class="preview">
    <div class="preview-img">
      <img src="assets/images/preview.webp" alt="preview" />
    </div>
    <div class="container-fluid preview-text">
      <h1 class="display-5 fw-bold text-center">Iced shaken awakening</h1>
      <p class="fs-4 text-center">Introducing our new Iced Toasted Vanilla Oatmilk Shaken Espresso with rich, creamy layers and nondairy goodness.</p>
      <a class="btn btn-dark" type="button" href="/menu" style="margin: 0 auto;">Order now</a>
    </div>
  </div>
</div>
